@import "~bootstrap/scss/bootstrap";

.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

.form-outline{
    position: relative;
}

.form-label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.75rem;
    transition: 0.25s ease;
}

.form-control:not(:placeholder-shown) + .form-label,
.form-control:focus + .form-label{
    top: 0;
    display: inline-block;
    padding: 0 0.375rem;
    background-color: white;
    color: #86b7fe;
}

.form-control:not(:focus) + .form-label{
  color: black;
}